body {
  background-color: #666;
}

#gameboard-container {
  display: flex;
  justify-content: center;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
  border: 10px solid black;
}

.cell {
  background-color: #999;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  align-content: center;
  text-align: center;

  &.token-X {
    background-color: lightcoral;
  }
  &.token-O {
    background-color: lightblue;
  }
}

#new-game-btn, #current-player, #result {
  max-width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}
